*   {
    padding: None;
    margin: None;
}

.head   {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.recipe    {
    margin: 25px;
}

h2  {
    font-size: 56px;
}

.body   {
    width: 70%;
    height: auto;
    border: solid 2px black;
}

.body p {
    display: flex;
    margin-bottom: 25px;
}

input   {
    overflow-wrap: normal;
}